venv/
*.pyc
__pycache__/

.env

credentials.json
token.json
oauth_credentials.json

!frontend/package.json
!frontend/package-lock.json
!package.json
!requirements.txt

frontend/node_modules/
frontend/build/
frontend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontend/package-lock.json

node_modules/
build/
dist/

.DS_Store