# Python
venv/
*.pyc
__pycache__/

# Environment variables
.env

# Credentials
credentials.json
token.json
oauth_credentials.json

# Ignore all JSON except requirements
*.json
!requirements.txt

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
build/
dist/

# React specific
.next/
out/
coverage/

# Misc
.DS_Store

frontend/node_modules/
frontend/build/
frontend/package-lock.json